<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | E-Shopper</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="~/js/html5shiv.js"></script>
	<script src="~/js/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<link rel="shortcut icon" href="~/images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">

	
</head><!--/head-->

<body>
	<header id="header">
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +84 0912216795</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> khanhtoanx20@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a asp-action="Index" asp-controller="Home"><img src="~/images/home/logo1.jpg" alt="Logo" /></a>
						</div>			
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								@if(User.Identity?.IsAuthenticated ?? false)
								{
									if (User.IsInRole("Admin"))
									{
										<li><a href="~/admin"><i class="fa fa-cog"></i>Admin Dashboard</a></li>
									}
									else
									{
										<li><a asp-controller="Account" asp-action="Index"><i class="fa fa-user"></i> Account</a></li>
										
										<li><a asp-action="Index" asp-controller="Cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
										
									}
									<li><a href="#"><i class="fa fa-users"></i>Hi, @User.Identity.Name</a></li>
									<li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-unlock"></i>Logout</a></li>
								}
								else
								{
									<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i>Login</a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-action="Index" asp-controller="Home" class="active">Home</a></li>
								<li class="dropdown">
									<a href="#">Category<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu ">
									     <vc:categories></vc:categories>
@* 										 <li><a asp-controller="Product" asp-action="Details">Product Details</a></li>
										 <li><a asp-controller="Cart" asp-action="Checkout">Checkout</a></li>
										 <li><a asp-action="Index" asp-controller="Cart">Cart</a></li> *@
										
									</ul>
								</li>
								<li class="dropdown">
									<a href="#">Brand<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu">
										<vc:brands></vc:brands>
									</ul>
								</li>
								
								<li><a asp-action="Index" asp-controller="Cart">Cart</a></li>
								<li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<form asp-controller="Product" asp-action="Search" method="get" asp-route-KeyWord="@ViewBag.KeyWord">
							<div class="search_box pull-right">
								<input type="text" placeholder="Search" name="searchTerm" />
								<button type="submit" class="btn btn-warning" >Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="slider">
		<!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<!-- Item 1 -->
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>HP Pavilion 14</h2>
									<p>Kiểu dáng thanh lịch, sang trọng. Hiệu năng mạnh mẽ. Màn hình 14 inch sắc nét.</p>
									<a asp-action="Details" asp-controller="Product" asp-route-IdSanPham="4">
										<button type="button" class="btn btn-default get">Get it now</button>
									</a>
								</div>
								<div class="col-sm-6">
									<img src="~/images/4.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>

							<!-- Item 2 -->
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>HP Envy 15</h2>
									<p>
										Thiết kế sang trọng, thời thượng với mặt lưng nhôm cùng trọng lượng chỉ 1.55kg.
										Chất lượng hiển thị hàng đầu - màn hình 14.2 inch tấm nền retina.
									</p>
									<a asp-action="Details" asp-controller="Product" asp-route-IdSanPham="2">
										<button type="button" class="btn btn-default get">Get it now</button>
									</a>
								</div>
								<div class="col-sm-6">
									<img src="~/images/2.jpg" class="girl img-responsive" alt="" />
									
								</div>
							</div>

							<!-- Item 3 -->
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Dell XPS 13</h2>
									<p>
										Sở hữu thiết kế cực kỳ sang chảnh với nhôm nguyên khối vô cùng chắc chắn.
										Vi xử lý Intel Core i5-1135G7 đi kèm với card đồ hoạ Intel Iris Xe giúp bạn chỉnh sửa ảnh hay video cơ bản một cách dễ dàng.
									</p>
									<a asp-action="Details" asp-controller="Product" asp-route-IdSanPham="1">
										<button type="button" class="btn btn-default get">Get it now</button>
									</a>
								</div>
								<div class="col-sm-6">
									<img src="~/images/1.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
						</div>


						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">
				@Html.Partial("_NotificationPartial")
				@RenderBody()
				
			</div>
            
        </div>
		
	</section>
	<br/>
	<footer id="footer">
		<!--Footer-->
		@Html.Partial("_FooterPartial")
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2024 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->


	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v21.0"></script>
	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@* @RenderSection("Scripts", required: false) *@
</body>
</html>
