@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SanPham>

<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	@Html.Partial("_FilterProductsPartial")
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					
						<div class="single-products">
						  <a asp-action="Details" asp-controller="Product" asp-route-IdSanPham="@item.IdSanPham">
							<div class="productinfo text-center">
								<img src="~/images/@item.Images" alt="@item.Name" height="200px" weight="100px" />
								<h4>@item.Name</h4>
								<h2>@item.Price.ToString() USD</h2>
								<p>Danh mục : @item.Categories.Name</p>
								<p>Thương hiệu : @item.Brand.Name</p>
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-idSanPham="@item.IdSanPham"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                            </div>
                          </a>
						</div>
					
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
						</ul>
					</div>
				</div>
			</div>

		}

	</div><!--features_items-->
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page, slug = ViewBag.Slug, sort_by = ViewBag.CurrentSort }))
</div>
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			// Đặt giá trị đã chọn nếu có trong URL
			var currentUrl = new URL(window.location.href);
			var selectedOption = currentUrl.searchParams.get('sort_by');
			if (selectedOption) {
				$('#sort_by').val(selectedOption);
			}

			// Khi người dùng thay đổi giá trị dropdown
			$('#sort_by').on('change', function () {
				var sortOption = $(this).val();
				if (sortOption) {
					// Cập nhật URL với giá trị sort_by mới
					currentUrl.searchParams.set('sort_by', sortOption);
					window.location.href = currentUrl.toString();
				}
				return false;
			});
		});
	</script>
}

