@using QLDienThoai.Models
@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "OrderDetail Lists";
    decimal total = 0;
    decimal subtotal = 0;
}

<h1> OrdersDetail</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Prodcut Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = @item.Quantity * @item.Price;
            total += subtotal;
            <tr>
                <input  type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <th>@item.OrderId</th>
                <th scope="row">@item.OrderCode</th>
                <td>@item.Username</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString()</td>
                
               
            </tr>
        }
        <tr>
            <th colspan="5">Total:</th>
            <td>@total.ToString("C")</td>
            <td><select class="form-control select-update-order">
                <option value="1">Đơn hàng mới</option>
                    <option value="0">Đã xử lý</option>
            </select></td>
        </tr>
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Cập nhật đơn hàng thành công.");
                        } else {
                            Swal.fire("Cập nhật đơn hàng thất bại: " + result.message);
                        }
                    }
                });
            });
        });
    </script>
}
