@using System.Linq
<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/images/@Model.Images" alt="" />
				</div>


			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->

					<h2>@Model.Name</h2>
					
					@* <img src="~/images/@Model.Images" alt="@Model.Name" /> *@
					<span>
						<span>@Model.Price.ToString() USD</span>
						
						<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-idSanPham="@Model.IdSanPham"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</span>
					<p><b>Availability:</b> In Stock</p>
					<p><b>Condition:</b> New</p>
					<p><b>Brand:</b> @Model.Brand.Name</p>
					<p><b>Category:</b> @Model.Categories.Name</p>
					<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active" ><a href="#details" data-toggle="tab">Details</a></li>
					<li ><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="details">
					@Model.Description
				</div>
				<div class="tab-pane fade in" id="companyprofile">
					@Html.Partial("_Company_Product")
				</div>
				
			</div>
		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">Related Products</h2>
			@Html.Partial("_RelatedProduct")
		</div>
	</div>
