@using QLDienThoai.Models
@model IEnumerable<SanPham>
@{
    ViewData["title"] = "Product Lists";    
}
<p class="alert alert-success">@TempData["message"]</p>
<h1>List Products</h1>
<a  asp-action="Create" asp-controller="Product" asp-area="Admin">Add Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            
            <th scope="col">Product Image</th>
            
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <th scope="row">@item.IdSanPham</th>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>

                <td>@item.Price</td>
                
                <td>
                    <img src="~/images/@item.Images" width="120" />
                </td>
                <td>@item.Categories.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a asp-action="Edit"  class="btn btn-warning btn-sm" asp-controller="Product" asp-route-IdSanPham="@item.IdSanPham">Edit</a>
                    <a asp-action="Delete" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-IdSanPham="@item.IdSanPham">Delete</a>
                </td>
               
            </tr>
        }
    </tbody>
</table>