@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SanPham>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	@Html.Partial("_FilterProductsPartial")
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">@ViewBag.Slug</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					
						<div class="single-products">
						<a asp-action="Details" asp-controller="Product" asp-route-IdSanPham="@item.IdSanPham">
							<div class="productinfo text-center">
								<img src="~/images/@item.Images" alt="@item.Name" height="200px" weight="100px" />
								<h4>@item.Name</h4>
								<h2>@item.Price.ToString() USD</h2>

								<p>Danh mục : @item.Categories.Name</p>
								<p>Thương hiệu : @item.Brand.Name</p>
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-idSanPham="@item.IdSanPham"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                            </div>
                          </a>
						</div>
					
					
				</div>
			</div>

		}
	</div><!--features_items-->
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page, slug = ViewBag.Slug, sort_by = ViewBag.CurrentSort }))

</div>
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
	<script>
		$(document).ready(function () {
			// Khởi tạo slider cho khoảng giá
			$("#slider-range").slider({
				range: true,
				step: 50,
				min: 100,
				max: 3000,
				values: [100, 3000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) +
				" - $" + $("#slider-range").slider("values", 1));

			$('#btn-locgia').on('click', function (e) {
				e.preventDefault(); // Ngăn chặn hành động mặc định của nút

				var startPrice = $("#slider-range").slider("values", 0);
				var endPrice = $("#slider-range").slider("values", 1);
				var sortBy = $('#sort_by').val(); // Lấy giá trị sắp xếp từ dropdown
				var slug = '@ViewBag.Slug'; // Lấy slug từ ViewBag
				var baseUrl = '@Url.Action("Index", "Brand")'; // Lấy URL cơ bản

				// Tạo URL mới với các tham số
				var newUrl = `${baseUrl}?slug=${slug}&sort_by=${sortBy}&startprice=${startPrice}&endprice=${endPrice}`;

				// Chuyển hướng đến URL mới
				window.location.href = newUrl;
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			// Đặt giá trị đã chọn nếu có trong URL
			var currentUrl = new URL(window.location.href);
			var selectedOption = currentUrl.searchParams.get('sort_by');
			if (selectedOption) {
				$('#sort_by').val(selectedOption);
			}

			// Khi người dùng thay đổi giá trị dropdown
			$('#sort_by').on('change', function () {
				var sortOption = $(this).val();
				if (sortOption) {
					// Cập nhật URL với giá trị sort_by mới
					currentUrl.searchParams.set('sort_by', sortOption);
					window.location.href = currentUrl.toString();
				}
				return false;
			});
		});
	</script>
}